
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            {% include section-heading.html heading="About" subheading="description"%}
            <div class="col-md-12">
                <p>خدمات CNC کوشا</p>
                <p> با ما باشید</p>
                <ul>
                    <li><p>برش انواع ورق ها</p></li>
                    <li><p>همکاری با شرکت های مختلف</p></li>
                </ul>

            </div>
        </div>
    </div>
</section>
